# :octocat: Lucas Miranda | @lucas-lm

[![Website](https://img.shields.io/badge/website--000?style=social&logo=google-chrome&logoColor=black&link=https://lucas-lm.github.io)](https://lucas-lm.github.io)
[![Github Badge](https://img.shields.io/badge/GitHub--000?style=social&logo=Github&logoColor=black&link=https://github.com/lucas-lm)](https://github.com/lucas-lm)
[![Linkedin Badge](https://img.shields.io/badge/LinkedIn--000?style=social&logo=Linkedin&logoColor=0077B5&link=https://www.linkedin.com/in/lucas-lm/)](https://www.linkedin.com/in/lucas-lm/)
[![Twitter Badge](https://img.shields.io/badge/Twitter--000?style=social&logo=twitter&logoColor=1DA1F2&link=https://www.twitter.com/__lucas_lm/)](https://www.twitter.com/__lucas_lm/)
[![Outlook Badge](https://img.shields.io/badge/email--000?style=social&logo=microsoft-outlook&logoColor=0078d4&link=mailto:lucas-m@outlook.com)](mailto:lucas-m@outlook.com)

I am a web and mobile developer. 
I love to work with React and React Native, but I also work on back-end with node and express.

<p align='center'>
  <a href="#about-me">About me</a>
  ·
  <a href="#github-stats">GitHub Stats</a>
  ·
  <a href="#skills-check">My Skillset</a>
</p>

## About me

- 💬 Ask me about **React** and **React Native**
- 📫 How to reach me: **lucas-m@outlook.com**
- 🌱 I’m currently studying:
{{#learning}}
  - {{.}}
{{/learning}}

:robot: __This list is automatically updated by my robots__ :robot:

## Skillset

<img src="https://img.shields.io/badge/-HTML%205-E34F26?logo=HTML5&logoColor=white&labelColor=E34F26" alt="Html" /> <img src="https://img.shields.io/badge/-CSS%203-1572B6?logo=CSS3&logoColor=white&labelColor=1572B6" alt="CSS" /> <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?logo=javascript&logoColor=white&labelColor=F7DF1E" alt="JavaScript" /> <img src="https://img.shields.io/badge/-TypeScript-007ACC?logo=typescript&logoColor=white&labelColor=007ACC" alt="Typescript" /> <img src="https://img.shields.io/badge/-React%20JS-61DAFB?logo=react&logoColor=white&labelColor=61DAFB" alt="React" /> <img src="https://img.shields.io/badge/-Node%20JS-green?logo=node.js&logoColor=white&labelColor=green" alt="Node" /> <img src="https://img.shields.io/badge/-Python-3776AB?logo=Python&logoColor=white&labelColor=3776AB" alt="Python" />

### My learning journey

Watch my learning journey:

[![Now I Know](https://github-readme-stats.vercel.app/api/pin/?username=lucas-lm&repo=nowiknow)](https://github.com/lucas-lm/nowiknow)

## GitHub stats

 <img src="https://github-readme-stats.vercel.app/api?username=lucas-lm&show_icons=true" alt="lucas github stats" height=172/> <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=lucas-lm&layout=compact" alt="lucas top languages" height=172/> 
